@import "./loader"
*
    margin: 0
    padding: 0

html 
    body 
        margin: 0
        height: 100%
        width: 100%
        background: black
a 
    text-decoration: none
    color: black

$break: 1028px

.landing-splash
    display: flex
    width: 100%
    height: 100%
    flex-direction: column
    justify-content: center
    align-items: center
    background: black
    transition: transform 0.6s ease

img 
    // background: blue
    max-width: 100%
    max-height: 100%
    animation: breath 7s ease-out infinite normal

@keyframes breath
    0% 
        transform: scale(0.9)
    25%
        transform: scale(1)
    60%
        transform: scale(0.9)
    100%
        transform: scale(1)

.splash-container
    width: 1000px
    height: 500px
    @media screen and (max-width: $break)
        width: 100%
        height: 80%

canvas
  width: 100%
  height: 100%

.splash-loader
    display: flex
    justify-content: center
    align-items: center
    width: 100px
    height: 100px
    animation: breath 7s ease-out infinite normal

.landing-container
    width: 100%
    height: 100%
    display: none
    justify-content: center
    align-items: center
    background: black

.floating-nav-container
    display: grid
    width: 150px
    height: 600px
    position: fixed
    bottom: 50px
    right: 2px
    z-index: 30        
    grid-template-rows: 1fr 1fr 1fr 1fr
    justify-items: center
    align-items: center
    @media screen and (max-width: $break) 
        width: 30%
        height: 60%
        right: 10px
        bottom: 5px



.fab-button
    display: none
    background: rgb(255, 158, 89)
    box-shadow: 0px 0px 8px 1px white
    width: 50%
    height: 55%
    font-size: 2rem
    color: rgb(252, 248, 244)
    border-radius: 100%
    justify-content: center
    align-items: center
    @media screen and (max-width: $break) 
        width: 60px
        height: 60px
        font-size: 1.2  rem
  
.open
    display: flex

.fab-main
    display: flex
    width: 50%
    height: 55%
    grid-row: 4 
    background: red
    font-size: 2.3rem
    color: white
    @media screen and (max-width: $break) 
        width: 100px
        height: 100px
        font-size: 1.8rem
    &:hover
        background: rgb(255, 63, 63)
    &:focus
        outline: none
.flip
    transform: rotate(-180deg)
.up-arrow
    transition: transform 0.5s

=triangle()
    $size: 8px
    $color: #fff
    content: ''
    display: block
    position: absolute
    height: 0px
    width: 0px
    bottom: calc(120% - 8px)
    transform: rotate(180deg)
    border-bottom: $size solid $color
    border-left: $size solid transparent
    border-right: $size solid transparent

=tooltip_para()
    display: flex
    position: absolute
    min-width: 100px
    height: 30px
    background-color: #fff
    // background-color: hsla(0, 0%, 20%, 0.9)
    color: #000
    content: attr(tooltip)
    justify-content: center
    align-items: center
    font-size: 1.2rem
    font-family: 'Open Sans Condensed', sans-serif;

[tooltip] 
  position: relative
  z-index: 2
  cursor: pointer

[tooltip]
    &:before,&:after
        visibility: hidden
        pointer-events: none
        // opacity: 0 
[tooltip]
    &:before
       +tooltip_para()
       bottom: 120%
        
[tooltip]
    &:after
        +triangle
[tooltip]
    &:hover:before,&:hover:after
        visibility: visible
        opacity: 0.8
    @media screen and (max-width: $break)
        &:hover:before,&:hover:after
            visibility: hidden

.main-wrapper
    width: 80%
    height: 80%
    background: grey
    border-radius: 25px
    box-shadow: 0 0 15px 1px grey
    @media screen and (max-width: $break)
        width: 92%
        height: 70%
        margin-bottom: 100px