.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid white;
  border-color: red transparent red transparent;
  animation: lds-hourglass 1.2s infinite; }

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  100% {
    transform: rotate(1800deg); } }

* {
  margin: 0;
  padding: 0; }

html body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: black; }

a {
  text-decoration: none;
  color: black; }

.landing-splash {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  transition: transform 0.6s ease; }

@keyframes breath {
  0% {
    transform: scale(0.9); }
  25% {
    transform: scale(1); }
  60% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

.splash-container {
  width: 1000px;
  height: 500px; }

@media screen and (max-width: 1028px) {
  .splash-container {
    width: 100%;
    height: 80%; } }

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px; }

@media screen and (max-width: 1028px) {
  .logo-container {
    width: 100%;
    height: 80%; } }

.logo-img {
  width: 100%;
  height: 100%;
  animation: breath 7s ease-out infinite normal; }

canvas {
  width: 100%;
  height: 100%; }

.splash-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  animation: breath 7s ease-out infinite normal; }

.landing-container {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: black; }

.floating-nav-container {
  display: grid;
  width: 150px;
  height: 600px;
  position: fixed;
  bottom: 50px;
  right: 2px;
  z-index: 30;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center; }

@media screen and (max-width: 1028px) {
  .floating-nav-container {
    width: 30%;
    height: 60%;
    right: 10px;
    bottom: 5px; } }

.fab-button {
  display: none;
  background: #ff9e59;
  box-shadow: 0px 0px 8px 1px white;
  width: 50%;
  height: 55%;
  font-size: 2rem;
  color: #fcf8f4;
  border-radius: 100%;
  justify-content: center;
  align-items: center; }

@media screen and (max-width: 1028px) {
  .fab-button {
    width: 60px;
    height: 60px;
    font-size: 1.2  rem; } }

.open {
  display: flex; }

.fab-main {
  display: flex;
  width: 50%;
  height: 55%;
  grid-row: 4;
  background: red;
  font-size: 2.3rem;
  color: white; }

@media screen and (max-width: 1028px) {
  .fab-main {
    width: 60px;
    height: 60px;
    font-size: 1.8rem; } }

@media screen and (max-width: 1024px) and (min-width: 600px) {
  .fab-main {
    width: 100px;
    height: 100px; } }

.fab-main:hover {
  background: #ff3f3f; }

.fab-main:focus {
  outline: none; }

.flip {
  transform: rotate(-180deg); }

.flip2 {
  transform: rotate(-360deg); }

.up-arrow {
  transition: transform 0.5s; }

.filter_icon {
  transition: transform 0.5s; }

[tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer; }

[tooltip]:before, [tooltip]:after {
  visibility: hidden;
  pointer-events: none; }

[tooltip]:before {
  display: flex;
  position: absolute;
  min-width: 100px;
  height: 30px;
  background-color: #fff;
  color: #000;
  content: attr(tooltip);
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: 'Open Sans Condensed', sans-serif;
  bottom: 120%; }

[tooltip]:after {
  content: '';
  display: block;
  position: absolute;
  height: 0px;
  width: 0px;
  bottom: calc(120% - 8px);
  transform: rotate(180deg);
  border-bottom: 8px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; }

[tooltip]:hover:before, [tooltip]:hover:after {
  visibility: visible;
  opacity: 0.8; }

@media screen and (max-width: 1028px) {
  [tooltip]:hover:before, [tooltip]:hover:after {
    visibility: hidden; } }

.main-wrapper {
  position: absolute;
  width: 80%;
  height: 80%;
  background: #d8d8d8;
  border-radius: 25px;
  box-shadow: 0 0 15px 1px grey;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 5fr 1fr; }

@media screen and (max-width: 1028px) {
  .main-wrapper {
    height: 70%;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr; } }

.info-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

@media screen and (max-width: 1028px) {
  .info-container {
    grid-row: 1 / span 2; } }

.info-wrapper {
  width: 90%;
  height: 90%;
  border-radius: 25px;
  background: #cccccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.info-items {
  width: 100%;
  margin: 8px;
  max-height: 16.66%;
  font-size: 2rem;
  flex-grow: 1;
  font-family: 'Open Sans Condensed', sans-serif; }

@media screen and (max-width: 1028px) {
  .info-items {
    font-size: 0.8rem; } }

.info-desc-cont {
  flex-grow: 2;
  overflow: hidden; }

.imdb-rating-cont {
  display: flex;
  align-items: center; }

.info-desc {
  font-size: 1.3vw;
  color: red;
  font-family: 'Source Sans Pro', sans-serif; }

@media screen and (max-width: 1028px) {
  .info-desc {
    font-size: 1vh; } }

.imdb-link {
  text-decoration: underline;
  color: black;
  font-size: 0.8rem;
  display: none;
  width: 20px; }

.poster-container {
  max-width: 200px;
  max-height: 300px;
  border-radius: 25px;
  margin-left: 2px;
  margin-right: 2px;
  display: flex;
  box-shadow: 0 0 5px 5px grey;
  justify-content: center;
  align-items: center; }

@media screen and (max-width: 1028px) {
  .poster-container {
    box-shadow: none;
    border: 1px solid black;
    max-width: 100px;
    max-height: 150px; } }

.poster-img {
  width: 98%;
  height: 98%;
  border-radius: 30px;
  object-fit: scale-down;
  border: 3px solid black; }

.fab-option-wrapper {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 35;
  display: none;
  background: rgba(255, 0, 0, 0.6); }

.preloader-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.menu-options {
  width: 55%;
  height: 50%;
  border-radius: 25px;
  background: #ff7777;
  border: 5px solid black; }

@media screen and (max-width: 1028px) {
  .menu-options {
    width: 80%; } }

.menu-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  left: calc(100% - 50px);
  color: white;
  position: relative; }

.fab-option-container {
  position: relative;
  margin: auto;
  height: 80%;
  width: 90%;
  color: white;
  border-radius: 25px;
  background: #FF5159;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.slider-rating {
  width: 80%;
  -webkit-appearance: none;
  appearance: none;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s; }

.slider-rating:hover {
  opacity: 1; }

.slider-rating::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: red;
  cursor: pointer; }

.fab-options {
  width: 80%;
  height: 35px; }

.sort-option-container {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.year-realease-container {
  text-align: left; }

.release-data-inp {
  width: 30%;
  height: 70%;
  padding: 10px;
  background: #d3d3d3;
  outline: none;
  border: none; }

.fab-checkbox {
  background: blue;
  appearance: none;
  border: none;
  padding: 2px;
  opacity: 0.6;
  border-radius: 25px;
  -webkit-user-select: none;
  user-select: none; }

.fab-checkbox:hover {
  opacity: 1; }

.filter-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: calc(100% - 100px);
  bottom: 10%;
  height: 70px;
  width: 70px;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  border-radius: 100%;
  background: red;
  box-shadow: 0 0 8px 1px white;
  transition: transform 0.5s; }

@media screen and (max-width: 1028px) {
  .filter-button {
    height: 40px;
    font-size: 0.8rem;
    left: calc(100% - 50px);
    width: 40px; } }

.sort-headers {
  font-size: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif; }

.load-status {
  color: red;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif; }

.hourglass-loader:after {
  border-color: white transparent white transparent; }

.load-status-loader {
  color: white; }
