.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid white;
  border-color: red transparent red transparent;
  animation: lds-hourglass 1.2s infinite; }

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  100% {
    transform: rotate(1800deg); } }

* {
  margin: 0;
  padding: 0; }

html body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: black; }

a {
  text-decoration: none;
  color: black; }

.landing-splash {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  transition: transform 0.6s ease; }

@keyframes breath {
  0% {
    transform: scale(0.9); }
  25% {
    transform: scale(1); }
  60% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

.splash-container {
  width: 1000px;
  height: 500px; }

@media screen and (max-width: 1028px) {
  .splash-container {
    width: 100%;
    height: 80%; } }

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px; }

@media screen and (max-width: 1028px) {
  .logo-container {
    width: 100%;
    height: 80%; } }

.logo-img {
  width: 100%;
  height: 100%;
  animation: breath 7s ease-out infinite normal; }

canvas {
  width: 100%;
  height: 100%; }

.splash-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  animation: breath 7s ease-out infinite normal; }

.landing-container {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: black; }

.floating-nav-container {
  display: grid;
  width: 150px;
  height: 600px;
  position: fixed;
  bottom: 50px;
  right: 2px;
  z-index: 30;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center; }

@media screen and (max-width: 1028px) {
  .floating-nav-container {
    width: 30%;
    height: 60%;
    right: 10px;
    bottom: 5px; } }

.fab-button {
  display: none;
  background: #ff9e59;
  box-shadow: 0px 0px 8px 1px white;
  width: 50%;
  height: 55%;
  font-size: 2rem;
  color: #fcf8f4;
  border-radius: 100%;
  justify-content: center;
  align-items: center; }

@media screen and (max-width: 1028px) {
  .fab-button {
    width: 60px;
    height: 60px;
    font-size: 1.2  rem; } }

.open {
  display: flex; }

.fab-main {
  display: flex;
  width: 50%;
  height: 55%;
  grid-row: 4;
  background: red;
  font-size: 2.3rem;
  color: white; }

@media screen and (max-width: 1028px) {
  .fab-main {
    width: 60px;
    height: 60px;
    font-size: 1.8rem; } }

@media screen and (max-width: 1024px) and (min-width: 600px) {
  .fab-main {
    width: 100px;
    height: 100px; } }

.fab-main:hover {
  background: #ff3f3f; }

.fab-main:focus {
  outline: none; }

.flip {
  transform: rotate(-180deg); }

.up-arrow {
  transition: transform 0.5s; }

[tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer; }

[tooltip]:before, [tooltip]:after {
  visibility: hidden;
  pointer-events: none; }

[tooltip]:before {
  display: flex;
  position: absolute;
  min-width: 100px;
  height: 30px;
  background-color: #fff;
  color: #000;
  content: attr(tooltip);
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: 'Open Sans Condensed', sans-serif;
  bottom: 120%; }

[tooltip]:after {
  content: '';
  display: block;
  position: absolute;
  height: 0px;
  width: 0px;
  bottom: calc(120% - 8px);
  transform: rotate(180deg);
  border-bottom: 8px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; }

[tooltip]:hover:before, [tooltip]:hover:after {
  visibility: visible;
  opacity: 0.8; }

@media screen and (max-width: 1028px) {
  [tooltip]:hover:before, [tooltip]:hover:after {
    visibility: hidden; } }

.main-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80%;
  height: 80%;
  background: #d8d8d8;
  border-radius: 25px;
  box-shadow: 0 0 15px 1px grey; }

@media screen and (max-width: 1028px) {
  .main-wrapper {
    width: 92%;
    height: 70%;
    margin-bottom: 100px;
    flex-direction: column-reverse;
    flex-wrap: wrap; } }

.main-items {
  flex-grow: 3.5;
  height: 95%; }

@media screen and (max-width: 1028px) {
  .main-items {
    background: red;
    width: 95%; } }

@media screen and (max-width: 1028px) {
  .info-wrapper {
    max-height: 70%; } }

.poster-wrapper {
  flex-grow: 1;
  background: red; }

@media screen and (max-width: 1028px) {
  .poster-wrapper {
    background: blue;
    max-height: 25%;
    display: flex;
    justify-content: flex-end; } }

.poster-container {
  width: 95%;
  height: 60%;
  border-radius: 25px;
  border: 2px solid black;
  margin-right: 5px; }

@media screen and (max-width: 1028px) {
  .poster-container {
    height: 97%;
    width: 50%; } }

.fab-option-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: none;
  background: rgba(255, 0, 0, 0.2); }

.menu-options {
  width: 55%;
  height: 50%;
  border-radius: 25px;
  background: #ff7777;
  border: 5px solid black; }

@media screen and (max-width: 1028px) {
  .menu-options {
    width: 80%; } }

.menu-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  left: calc(100% - 50px);
  color: white;
  position: relative; }

.fab-option-container {
  position: relative;
  margin: auto;
  height: 80%;
  width: 90%;
  border-radius: 25px;
  background: #FF5159;
  display: none; }
